<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{'plantAddHeader' | stringRes}}</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="index.main">{{'homeLinkText' | stringRes}}</a>
      </li>
      <li>
        <a>{{'plant' | stringRes}}</a>
      </li>
      <li class="active">
        <strong>{{'plantAdd' | stringRes}}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce" ng-controller="PlantFormCtrl as pfctrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading>
              {{'plantDetail' | stringRes}}
            </uib-tab-heading>
            <div class="panel-body">
              <fieldset class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'avatar' | stringRes}}:</label>
                  <div class="col-sm-8">
                    <div id="direct_upload"
                         ngf-drop="uploadFiles($files)"
                         ngf-drag-over-class="dragOverClass($event)"
                         ng-model="files"
                         ng-multiple="true"
                         ngf-select="uploadFiles($files)"
                         resetOnClick="true">
                      <h2>Click hoặc kéo thả hình vào khung này...</h2>
                      <h3 ng-show="fileProgress > 0">Đang tải lên ({{fileProgress}}%)...</h3>
                      <img ngf-src="plant.Avatar"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'name' | stringRes}}:</label>
                  <div class="col-sm-8"><input type="text" ng-model="plant.Name" class="form-control" placeholder="{{'plantNamePlaceHolder' | stringRes}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'priority' | stringRes}}:</label>
                  <div class="col-sm-8"><input type="number" ng-model="plant.Priority" class="form-control" placeholder="{{'priorityPlaceHolder' | stringRes}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'description' | stringRes}}:</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" ng-model="plant.Description" placeholder="{{'plantDescriptionPlaceHolder' | stringRes}}"></textarea>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-white" type="submit" ui-sref="index.plant">{{'cancel' | stringRes}}</button>
                    <button class="btn btn-primary" type="submit" ng-click="save()">{{'save' | stringRes}}</button>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>

    </div>
  </div>
</div>