@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="vnap">
<head>
  <base href='@Url.Content("~/wwwroot/app/")'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page title set in pageTitle directive -->
  <title page-title></title>

  <!-- Google Open Sans -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- Font awesome -->
  <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main Inspinia CSS files -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/style.css -->
  <link href="styles/animate.css" rel="stylesheet">
  <link href="styles/style.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main">

  <div id="app" ui-view></div>

  <!-- jQuery and Bootstrap -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/ui/jquery-ui.custom.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- MetsiMenu -->
  <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

  <!-- SlimScroll -->
  <script src="bower_components/slimScroll/jquery.slimscroll.min.js"></script>

  <!-- Angular scripts-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <!-- Angular Dependiences -->
  <!-- Cloudianry api -->
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/cloudinary-core/cloudinary-core.js"></script>
  <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
  <script src="bower_components/ng-idle/angular-idle.min.js"></script>
  <!--                      -->
  <!--                      -->
  <!--                      -->
  <!-- endbuild -->
  <!--custom scripts-->
  <script src="scripts/vnap.js"></script>

  <!--main app scripts-->
  <script src="scripts/app.js"></script>
  <script src="scripts/config.js"></script>
  <script src="scripts/directives.js"></script>
  <script src="scripts/filters.js"></script>

  <!--Service scripts-->
  <script src="scripts/services/article.js"></script>
  <script src="scripts/services.js"></script>

  <!--Factory scripts-->
  <script src="scripts/factories/article.js"></script>
  <script src="scripts/factories/user.js"></script>
  <script src="scripts/factories/plant.js"></script>
  <script src="scripts/factories/plant-disease.js"></script>
  <script src="scripts/factories/solution.js"></script>
  <script src="scripts/factories/article.js"></script>
  <script src="scripts/factories.js"></script>

  <!--Controller scripts-->
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/user/list.js"></script>
  <script src="scripts/controllers/plant/list.js"></script>
  <script src="scripts/controllers/plant/form.js"></script>
  <script src="scripts/controllers/plant-disease/list.js"></script>
  <script src="scripts/controllers/plant-disease/form.js"></script>
  <script src="scripts/controllers/solution/list.js"></script>
  <script src="scripts/controllers/solution/form.js"></script>
  <script src="scripts/controllers/article/list.js"></script>
  <script src="scripts/controllers/article/form.js"></script>
  <script src="scripts/controllers.js"></script>

</body>
</html>

