
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <base href='@Url.Content("~/")'>
  <meta charset="UTF-8">
  <title>Vnap - Làm nông chuyên nghiệp</title>
  <meta name="description" content="Ứng dụng làm nông chuyên nghiệp">
  <meta name="author" content="Troy Lee">

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <!-- Bootstrap -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">

  <!-- Font awesome -->
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">

  <!-- Animate.css -->
  <link rel="stylesheet" href="assets/css/animate.css">

  <!-- Owl-carousel style -->
  <link rel="stylesheet" href="assets/css/owl.carousel.css">
  <link rel="stylesheet" href="assets/css/owl.theme.css">

  <!-- magnific style -->
  <link rel="stylesheet" href="assets/css/magnific-popup.css">

  <!-- Custom stylesheet-->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css" media="screen">

  <!-- Added google font -->
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  <!--Fav and touch icons-->
  <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
  <link rel="apple-touch-icon" href="assets/images/icons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/icons/apple-touch-icon-114x114.png">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <!-- Preloader -->
  <div id="faceoff">
    <div id="preloader"></div>
    <div class="preloader-section"></div>
  </div>
  <!-- Preloader end -->
  <!-- header start -->
  <header id="home" class="navbar-fixed-top">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1><a class="nav-brand" href=""> <img src="assets/images/logo.png" width="80" alt="vnap.vn"></a></h1>
            </div>
          </div>
          <div class="col-sm-7">
            <!-- Collect the nav toggling -->
            <div class="collapse navbar-collapse navbar-example" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#intro">Giới thiệu</a></li>
                <li><a href="#video">Video</a></li>
                <li><a href="#screenshot">Giao diện</a></li>
                <li><a href="#review">Cảm nhận</a></li>
                <li><a href="#support">Chúng tôi là ai?</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
          <div class="col-sm-2 mob-right">
            <ul class="app pull-right">
              <li><a href=""><i class="fa fa-android"></i></a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.container -->
    </nav>
  </header>
  <!-- header end -->
  <!-- banner start -->
  <section id="banner" class="banner">
    <div class="trans-bg none-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h2><a href="" class="default-color"><img src="assets/images/logo.png" alt="vnap.vn"></a></h2> <!--/ .lg-logo -->
            <div class="flex_text text-slider">
              <ul class="slides">
                <li>Ứng dụng nông nghiệp đặc biệt cho nông dân</li>
                <li>Đầy đủ thông tin về dịch hại, phân bón, thuốc BVTV</li>
                <li>Chuyên gia đồng hành cùng bạn 24/24</li>
                <li>Cập nhật tin tức, khuyến mãi, giá nông sản nhanh chóng, chính xác</li>
                <li>Giao diện đơn giản, dễ sử dụng</li>
              </ul>
            </div>
            <!--/.text-slider end-->
            <ul class="app">
              <li><a href=""><i class="fa fa-android"></i></a></li>
            </ul>
            <div class="download-block text-center">
              <a href="@Url.Action("Download", "Home")" class="btn-download" target="_blank">Tải trực tiếp</a><a href="" class="btn-download">Tải Google Play</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.trans-bg -->
  </section>
  <!-- banner end -->
  <!-- intro start -->
  <section id="intro" class="intro white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="sub-head wow fadeInLeft">ứng dụng tuyệt vời</span>
          <div class="title wow fadeInRight">
            <h2>Cần thiết cho mọi nông dân</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="app-block wow bounceInUp" data-wow-delay=".1s">
            <i class="fa fa-bolt"></i>
            <h3>Với Vnap "Bạn là một kỹ sư"</h3>
            <p class="text-justify">Ứng dụng cung cấp cho bạn đầy đủ kiến thức về dịch hại, phân bón và thuốc BVTV.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="app-block wow bounceInUp" data-wow-delay=".2s">
            <i class="fa fa-life-ring"></i>
            <h3>Đồng hành 24/7</h3>
            <p class="text-justify">Các chuyên gia và ks nông nghiệp luôn sẳn sàng tư vấn và đồng hành cùng bạn 24/7.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="app-block wow bounceInUp" data-wow-delay=".3s">
            <i class="fa fa-paint-brush"></i>
            <h3>Thông tin nhanh chóng, chính xác</h3>
            <p class="text-justify">Vnap liên tục cập nhật cho bạn các thông tin về nông nghiệp, chương trình khuyến mãi, giá cả nông sản nhanh chóng và chính xác nhất.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="app-block wow bounceInUp" data-wow-delay=".4s">
            <i class="fa fa-angellist"></i>
            <h3>Đơn giản dễ sử dụng</h3>
            <p class="text-justify">Giao diện được thiết kế thân thiện, dù bạn chưa từng xài smartphone vẫn dễ dàng sử dụng ứng dụng.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="app-block wow bounceInUp" data-wow-delay=".5s">
            <i class="fa fa-thumbs-o-up"></i>
            <h3>Thương hiệu, chất lượng</h3>
            <p class="text-justify">Chúng tôi không ngừng cố gắng để mang đến cho bạn ứng dụng và dịch vụ chất lượng nhất. Thương hiệu của chúng tôi là sự tin tưởng của bạn.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="app-block wow bounceInUp" data-wow-delay=".6s">
            <i class="fa fa-puzzle-piece"></i>
            <h3>Sáng tạo và không ngừng đổi mới</h3>
            <p class="text-justify">Ứng dụng không ngừng được nâng cấp và đổi mới để phục vụ người dung tốt nhất.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro end -->
  <!-- video start -->
  <section id="video" class="video">
    <div id="trans-bg" class="trans-bg">
      <div class="video-container"><div id="player"></div><div class="video-mask"></div></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="video-mask">
              <h2 class="wow bounceInDown">Giới thiệu Vnap qua video</h2>
              <a href="https://vimeo.com/234787792" class="play wow rollIn animated"></a>
              <span class="wow bounceInUp">Xem video</span>
            </div>
          </div>
        </div>
      </div> <!-- /.trans-bg -->
    </div>
  </section>
  <!-- video end -->
  <!-- screenshot start -->
  <section id="screenshot" class="screenshot white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span class="sub-head wow fadeInLeft">và đây là</span>
          <div class="title wow fadeInRight">
            <h2>Giao diện</h2>
          </div>
          <div id="owl-demo" class="owl-carousel">
            @for (int i = 1; i <= 9; i++)
            {
                <div class="item screenshot-block">
                  <img src="./assets/images/screenshot-@(i).png" alt="VNAP">
                  <div class="caption">
                    <a class="test-popup-link" href="./assets/images/screenshot-@(i).png"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- screenshot end -->
  <!-- review start -->
  <section id="review" class="review">
    <div class="trans-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="wow swing">Người dùng nói gì?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <div id="myCarousel1" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="active item">
                  <span class="review-img">
                    <img src="./assets/images/thumb-1.png" alt="image">
                  </span>
                  <p class="text-justify">Từ khi con tôi cài ứng dụng này vào điện thoại, tôi thường xuyên sử dụng và học được rất nhiều thứ, giờ làm ruộng dễ lắm. Các kỹ sư rất tận tâm và hỗ trợ tôi bất cứ khi nào tôi thắc mắc. Cảm ơn các kỹ sư, cảm ơn Vnap.</p>
                  <span class="reviewer-name">Chú Nguyễn Văn Phước</span>
                  <span class="review-comp">Tây Ninh</span>
                </div>
                <div class="item">
                  <span class="review-img">
                    <img src="./assets/images/thumb-2.png" alt="image">
                  </span>
                  <p class="text-justify">Ứng dụng quá hay luôn, tôi giới thiệu cho bà con xung quanh đây nè, giờ ai cũng cài vô điện thoại hết, Giờ trồng cây gì cũng thấy dễ hết.</p>
                  <span class="reviewer-name">ND. Nguyễn Văn Lộc</span>
                  <span class="review-comp">Long An</span>
                </div>
                <div class="item">
                  <span class="review-img">
                    <img src="./assets/images/thumb-3.png" alt="image">
                  </span>
                  <p class="text-justify">Giờ làm nông nghiệp khỏe lắm cháu ơi, hổng biết cái gì mình chụp hình gửi cái kỹ sư trả lời hết trơn hà, họ chỉ mình xài thuốc gì luôn, mà trong vnap có đủ hết hà, muốn biết cái gì mình mở ra mình đọc, muốn hỏi cái gì mình bấm nút mình gọi là có kỹ sư trả lời liền.</p>
                  <span class="reviewer-name">ND. Nguyễn Tri Phương</span>
                  <span class="review-comp">Đồng Tháp</span>
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel1" data-slide="prev"><i class="fa fa-angle-left"></i></a>
              <a class="carousel-control right" href="#myCarousel1" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.trans-bg -->
  </section>
  <!-- review end -->
  <!-- support start -->
  <section id="support" class="support white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="sub-head wow fadeInLeft">chúng tôi</span>
          <div class="title wow fadeInRight">
            <h2>Là ai?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 wow bounceInUp" data-wow-duration="1s">
          <div class="support-block">
            <span class="support-icon"><i class="fa fa-bitbucket"></i></span>
            <h3>Quá trình thành lập</h3>
            <p class="text-justify">
              Công ty TNHH Vnap được thành lập ngày 21/7/2017.
              <br>
              Tiền thân của công ty là dự án "Làm nông chuyên nghiệp" được phát triển từ Tháng 01/2016 bởi các kỹ sư nông nghiệp và Công nghệ thông tin với mong muốn giúp bà con nông dân làm nông nghiệp dễ dàng hơn, nâng cao đời sống. Từng bước trở thành người nông dân hiện đại.
              <br>
              <strong>LIÊN HỆ</strong>
              <br>
              Công ty Trách Nhiệm Hữu Hạn  MTV VNAP
              <br>
              Hotline: 0987575246
            </p>
          </div>
        </div>
        <div class="col-sm-4 wow bounceInUp" data-wow-duration="2s">
          <div class="support-block active">
            <span class="support-icon"><i class="fa fa-bullhorn"></i></span>
            <h3>Sứ mạng của chúng tôi</h3>
            <p class="text-justify">Vnap đồng hành cùng các công ty chân chính mang tâm huyết và giải pháp hiệu quả đến cho người nông dân. Giúp nông dân ngày càng tiên tiến với mục tiêu <strong><i>"Mỗi nông dân là 1 kỹ sư"</i></strong></p>
          </div>
        </div>
        <div class="col-sm-4 wow bounceInUp" data-wow-duration="3s">
          <div class="support-block">
            <span class="support-icon"><i class="fa fa-stethoscope"></i></span>
            <h3>Chúng tôi cam kết</h3>
            <p class="text-justify">
              - Đội ngũ Vnap là những chuyên gia có chuyên môn cao, tâm huyết với nghề và phục vụ cho lợi ích của người nông dân
              <br>
              - Thông tin cung cấp cho nông dân là những thông tin chính xác, luôn được cải tiến và cập nhật
              <br>
              - Sản phẩm tư vấn là sản phẩm chất lượng từ các công ty phân bón, thuốc BVTV hàng đầu, nằm trong danh mục cho phép
              <br>
              - Vnap tôn trọng giá trị và lợi ích của đối tác, quyết tâm xây dựng để cùng đối tác đồng hành và phát triển.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- support end -->
  <!-- footer start -->
  <footer id="footer">
    <div class="trans-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="social-icon">
              <a href="" class="wow rollIn animated" data-wow-delay=".1s"><i class="fa fa-facebook"></i></a>
              <a href="" class="wow rollIn animated" data-wow-delay=".3s"><i class="fa fa-google-plus"></i></a>
              <a href="" class="wow rollIn animated" data-wow-delay=".8s"><i class="fa fa-youtube-square"></i></a>
            </div>
            <div class="copyright">
              <p>&copy; <span>VNAP</span>2017, all right reserved</p>
              <p>Design by <span>Troy Lee</span></p>
            </div>
          </div>
        </div>
      </div>
      <div id="go-to-top">
        <a href="#banner"></a>
      </div>
      <!--/.go-to-top end-->
    </div> <!-- /.trans-bg -->
  </footer>
  <!-- footer end -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <script src="assets/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/smoothscroll.js"></script>
  <script src="assets/js/jquery.scrollTo.min.js"></script>
  <script src="assets/js/jquery.localScroll.min.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/owl.carousel.js"></script>
  <script src="assets/js/jquery.magnific-popup.js"></script>
  <script src="assets/js/jquery.parallax.js"></script>
  <script src="assets/js/jquery.flexslider-min.js"></script>
  <script src="assets/js/jquery.ajaxchimp.min.js"></script>
  <script src="assets/js/matchMedia.js"></script>
  <script src="assets/js/script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/easing.js"></script>

  <script>
    	$(document).ready(function() {
		// "use strict";
        $('#banner').parallax("50%", 0.5, true);
        $('#intro').parallax("50%", 0.5, true);
        $('#video').parallax("50%", 0.5, true);
        $('#screenshot').parallax("50%", 0.5, true);
        $('#review').parallax("50%", 0.5, true);
        $('#support').parallax("50%", 0.5, true);
        $('#footer').parallax("50%", 0.5, true);
    	});

  </script>

  <script>
      // --------Google map---------------
		 var map;
		 function initialize() {
		  // Create an array of styles.
		  var styles = [
			{
			  stylers: [
				{ hue: "#0AABE1" },
				{ saturation: 0 }
			  ]
			},
			{
			  featureType: 'water',
			  stylers: [
			   { visibility: "on" },
			   { color: "#9a9efd" },
			   { weight: 2.2 },
			   { gamma: 2.54 }
			  ]
			},
			{
			  featureType: "road",
			  elementType: "geometry",
			  stylers: [
				{ lightness: 100 },
				{ visibility: "simplified" }
			  ]
			},{
			  featureType: "road",
			  elementType: "labels",
			  stylers: [
				{ visibility: "off" }
			  ]
			}
		  ];

		  // Create a new StyledMapType object, passing it the array of styles,
		  // as well as the name to be displayed on the map type control.
		  var styledMap = new google.maps.StyledMapType(styles,
			{name: "Styled Map"});

		  // Create a map object, and include the MapTypeId to add
		  // to the map type control.
		  var losAngeles = new google.maps.LatLng(33.8030716,-118.0725641);
		  var mapOptions = {
			zoom: 13,
			center: losAngeles,
			mapTypeControlOptions: {
			  mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
			},
			scrollwheel: false,
		  };
		  var map = new google.maps.Map(document.getElementById('map'),
			mapOptions);


		  //Associate the styled map with the MapTypeId and set it to display.
		  map.mapTypes.set('map_style', styledMap);
		  map.setMapTypeId('map_style');

		  // To add the marker to the map, use the 'map' property
		  var image = 'assets/images/map_icon_3.png';
		  var marker = new google.maps.Marker({
			  position: losAngeles,
			  map: map,
			  title:"Vnap App Store!",
			  icon: image
		  });

		 }

  </script>

</body>
</html>
