<!-- Wrapper-->
<div id="wrapper" ng-controller="MainCtrl as main">
  <!-- Navigation -->
  <div ng-include="'wwwroot/app/views/common/navigation.html'"></div>
  <!-- Page wraper -->
  <!-- ng-class with current state name give you the ability to extended customization your view -->
  <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
    <!-- Page wrapper -->
    <div ng-include="'wwwroot/app/views/common/topnavbar.html'"></div>
    <!-- Main view  -->
    <div ui-view></div>
    <!-- Footer -->
    <div ng-include="'wwwroot/app/views/common/footer.html'"></div>
  </div>
  <!-- End page wrapper-->  
  
  <!-- Right Sidebar -->
  <div ng-include="'wwwroot/app/views/common/right_sidebar.html'"></div>
</div>
<!-- End wrapper-->