<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{'plantDiseaseAddHeader' | stringRes}}</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="index.main">{{'homeLinkText' | stringRes}}</a>
      </li>
      <li>
        <a>{{'plantDisease' | stringRes}}</a>
      </li>
      <li class="active">
        <strong>{{'plantDiseaseAdd' | stringRes}}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce" ng-controller="PlantDiseaseFormCtrl as pdfctrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <uib-tabset>
          <uib-tab index="0">
            <uib-tab-heading>
              {{'plantDiseaseDetail' | stringRes}}
            </uib-tab-heading>
            <div class="panel-body">
              <fieldset class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'plant' | stringRes}}:</label>
                  <div class="col-sm-8">
                    <input type="text" required
                           ng-model="selectedPlant"
                           placeholder="Bệnh thuộc cây trồng nào?"
                           uib-typeahead="plant.Name for plant in searchPlant($viewValue)"
                           typeahead-loading="loadingPlants"
                           typeahead-no-results="noResults"
                           typeahead-on-select="onSelectPlant($item, $model, $label)"
                           class="form-control"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'type' | stringRes}}:</label>
                  <div class="col-sm-8">
                    <select placeholder="Sây hại hay Bệnh hại?" class="form-control" required ng-options="plantDiseaseType.Id as plantDiseaseType.Name for plantDiseaseType in plantDiseaseTypes" ng-model="plantDisease.PlantDiseaseType"></select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'avatar' | stringRes}}:</label>
                  <div class="col-sm-8">
                    <div id="direct_upload"
                         ngf-drop="uploadFiles($files)"
                         ngf-drag-over-class="dragOverClass($event)"
                         ng-model="files"
                         ng-multiple="true"
                         ngf-select="uploadFiles($files)"
                         resetOnClick="true">
                      <h2>Click hoặc kéo thả hình vào khung này...</h2>
                      <h3 ng-show="fileProgress > 0">Đang tải lên ({{fileProgress}}%)...</h3>
                      <img ngf-src="plantDisease.Avatar"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'name' | stringRes}}:</label>
                  <div class="col-sm-8"><input type="text" ng-model="plantDisease.Name" class="form-control" placeholder="{{'plantDiseaseNamePlaceHolder' | stringRes}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'priority' | stringRes}}:</label>
                  <div class="col-sm-8"><input type="number" ng-model="plantDisease.Priority" class="form-control" placeholder="{{'priorityPlaceHolder' | stringRes}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'description' | stringRes}}:</label>
                  <div class="col-sm-8">
                    <div summernote class="summernote form-control" ng-model="plantDisease.Description" height="300">
                      <h3>{{'plantDiseaseDescriptionPlaceHolder' | stringRes}}</h3>
                    </div>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-white" type="submit" ui-sref="index.plant-disease">{{'cancel' | stringRes}}</button>
                    <button class="btn btn-primary" type="submit" ng-click="activeTabIndex = 2">{{'save' | stringRes}}</button>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>
          <uib-tab index="1" active="troy">
            <uib-tab-heading>
              {{'image' | stringRes}}
            </uib-tab-heading>
            <div class="panel-body">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'imageListSubheader' | stringRes}}</h5>
                  <div class="ibox-tools">
                    <a ng-show="plantDisease.Id > 0" href="" class="btn btn-primary btn-xs" ng-model="images" multiple ngf-select="uploadImages($files)" resetOnClick="true">{{'imageAdd' | stringRes}}</a>
                  </div>
                </div>
                <div class="ibox-content">
                  <div class="table-responsive">
                    <table class="table table-bordered table-stripped">
                      <thead>
                      <tr>
                        <th>
                          Hình ảnh
                        </th>
                        <th>
                          Mô tả
                        </th>
                        <th>
                          Thứ tự
                        </th>
                        <th>
                          Thao tác
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="image in plantDisease.Images">
                        <td>
                          <img ng-src="{{image.Url}}" class="plant-disease-image">
                        </td>
                        <td>
                          <input type="text" class="form-control" value="{{image.Caption}}" ng-model="image.Caption" ng-blur="imageChanged(image)">
                        </td>
                        <td>
                          <input type="number" class="form-control" value="{{image.Priority}}" ng-model="image.Priority" ng-blur="imageChanged(image)">
                        </td>
                        <td>
                          <button class="btn btn-white" ng-click="confirmDeleteImage(image)"><i class="fa fa-trash"></i> </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="2">
            <uib-tab-heading>
              {{'solution' | stringRes}}
            </uib-tab-heading>
            <div class="panel-body">

              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'solutionListSubheader' | stringRes}}</h5>
                  <div class="ibox-tools">
                    <a ng-show="plantDisease.Id > 0" href="" class="btn btn-primary btn-xs" ui-sref="index.solution-form({Id: 0, PlantDiseaseId: plantDisease.Id, PlantDiseaseName: plantDisease.Name})">{{'solutionAdd' | stringRes}}</a>
                  </div>
                </div>
                <div class="ibox-content">
                  <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                      <tr>
                        <th data-toggle="true">Mã</th>
                        <th>Tên</th>
                        <th>Công ty</th>
                        <th>Mô tả</th>
                        <th>Thứ tự</th>
                        <th>Bệnh</th>
                        <th>Khuyến nghị</th>
                        <th>Tạo ngày</th>
                        <th class="text-right" data-sort-ignore="true">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="solution in plantDisease.Solutions">
                        <td>{{ solution.Id }}</td>
                        <td>{{ solution.Name }}</td>
                        <td>{{ solution.CompanyName }}</td>
                        <td>{{ solution.Description }}</td>
                        <td>{{ solution.Priority }}</td>
                        <td>{{ solution.PlantDiseaseName }}</td>
                        <td><input type="checkbox" ng-model="solution.Prime" disabled="disabled" /></td>
                        <td>{{ solution.CreatedDate }}</td>
                        <td class="text-right" ng-controller="SolutionCtrl">
                          <div class="btn-group">
                            <button class="btn-info btn btn-xs" ui-sref="index.solution-form({Id: solution.Id, PlantDiseaseId: plantDisease.Id, PlantDiseaseName: plantDisease.Name})">{{'edit' | stringRes}}</button>
                            <button class="btn-danger btn btn-xs" ng-click="confirmDelete(solution, plantDisease.Solutions)">{{'delete' | stringRes}}</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>

    </div>
  </div>
</div>