<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" uib-dropdown>
          <a uib-dropdown-toggle href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">{{main.userName}}</strong>
              </span>
              <span class="text-muted text-xs block">User Menu<b class="caret"></b></span>
            </span>
          </a>
          <ul uib-dropdown-menu class="animated flipInX m-t-xs">
            <li><a href="">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          Vnap
        </div>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.plant"><i class="fa fa-chrome"></i> <span class="nav-label">{{'plant' | stringRes}}</span> </a>
        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('plant')}">
          <li ui-sref-active="active"><a ui-sref="index.plant"><i class="fa fa-camera-retro"></i> {{'list' | stringRes}}</a></li>
          <li ui-sref-active="active"><a ui-sref="index.plant-form"><i class="fa fa-cubes"></i> {{'add' | stringRes}}</a></li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.plant-disease"><i class="fa fa-chrome"></i> <span class="nav-label">{{'plantDisease' | stringRes}}</span> </a>
        <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('plant-disease')}">
          <li ui-sref-active="active"><a ui-sref="index.plant-disease"><i class="fa fa-camera-retro"></i> {{'list' | stringRes}}</a></li>
          <li ui-sref-active="active"><a ui-sref="index.plant-disease-form"><i class="fa fa-cubes"></i> {{'add' | stringRes}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>