<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="RegisterCtrl">
  <div>
    <div>

      <h1 class="logo-name">Vnap</h1>

    </div>
    <h3>Welcome to Vnap Admin</h3>
    <p>
      Trang quản lý thông tin cho ứng dụng Vnap - Làm nông chuyên nghiệp
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Tạo tài khoản Vnap.</p>
    <form class="m-t" role="form" name="RegisterForm">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" validator="required" valid-method="watch" ng-model="registerForm.email" enter-key="registerForm.submit(RegisterForm)">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" valid-method="watch" ng-model="registerForm.password" enter-key="registerForm.submit(RegisterForm)">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Xác nhận Password" valid-method="watch" ng-model="registerForm.confirmPassword" enter-key="registerForm.submit(RegisterForm)">
      </div>
      <div class="form-group">
        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Đồng ý với điều khoản của Vnap </label></div>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-click="registerForm.submit(RegisterForm)">Đăng ký</button>

      <p class="text-muted text-center"><small>Đã có tài khoản?</small></p>
      <a class="btn btn-sm btn-white btn-block" ui-sref="login">Đăng nhập</a>
    </form>
    <p class="m-t"> <small>Copyright Vnap &copy; 2016</small> </p>
  </div>
</div>
